<!DOCTYPE html>
<html>
    <head>Wakatime Data Tracker</head>
        <title>Wakatime Project</title>
    <body>

        <form action="/api/home" method="POST">
    Name:  <input type="text" placeholder="Enter Developer Name" required="Field is required" name="username"><br>
    API Key:  <input type="password" placeholder="Enter Your Wakatime API" required="Field is required" name="apikey"><br>
    
    <br><button type="submit">View Developer Info</button><br>

        </form>
        <!-- <table style="width:100%">
            <tr>
                <th>User Name</th>
            </tr>
            <tr>
                <th>Project</th>
                <th>Hours Coded</th>
            </tr>
            <tr>
                <td>project A</td>
                <td>2 hours 12 minutes</td>
            </tr>
            <tr>
                <td>project B</td>
                <td>1 hour 56 minutes</td>
            </tr>
        </table> -->
    </body>
</html>