<!DOCTYPE html>
<html>
<head>
    <title>Dev Data</title>
    <style>
            table, th, td {
              border: 1px solid black;
            }
    </style>
</head>
<body>
    <h1>The Wakatime Time Tracker</h1>
        <% if (user.projects.length) { %>
            <table style="width:100%">
                <tr>
                    <th colspan="2">Developer Name: <%= user.name%></th>
                </tr>
                <tr>
                    <th>Project Name</th>
                    <th>Time Taken To Code</th>
                </tr>
                <% for(var i in user.projects) { %>
                   <tr>
                     <td><%= user.projects[i].projectName %></td>
                     <td><%= user.projects[i].timeCoded %></td>
                   </tr>
                <% } %>
                </table>
            
            <%} %>
</body>
</html>
